$background: #eee;

body {
    background: background;
}

.content {
    display: grid;
    width: 100vw;
    max-width: 1000px;
    justify-content: center;
    justify-items: center;
    .canvas {
        display: grid;
        justify-items: center;
        padding: 1rem;
        canvas {
            border: 1px solid black;
        }
    }
}

.controls {
    min-height: 200px;
    width: 80vw;
    padding: 1rem;
    .row {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-around;
    }
}